/* header Starts Here */

/* Header Ends Here */

/* ---------------------------- */

/* Main Starts Here */

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* justify-content: space-evenly; */
}

.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;   
}

ul li {
    display: inline-block;
    padding: 0 10px;
}

li {
    list-style-type: none;
}

hr {
    border: 1px solid var(--text-color);
    width: 100%;
}

.info {
    gap: 20px;
}

.vertical-line {
    border-left: 1px solid var(--text-color);
    height: 50%;
}

/* Main Ends Here */

/* ---------------------------- */

/* Footer Starts Here */

/* Footer Ends Here */

/* ---------------------------- */

/* Media Starts Here */

/* Small devices (phones, less than 600px) */
@media (max-width: 600px) {
    main {
        padding: 10px;
    }
    .resume-header h1 {
        font-size: 2em;
    }
    .skills ul {
        flex-direction: column;
    }
}

/* Medium devices (tablets, 600px to 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {}

/* Large devices (desktops, more than 1024px) */
@media (min-width: 1025px) {}

/* Media Ends Here */